@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


#about {
    background: url("../../public/images/graphbg.png");
    background-color: #F6F0BC;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    overflow:hidden;
   }

#about p {
   line-height: 25px;
}
 
 #about a, #about a:visited  { color: #fff; }
 #about a:hover, #about a:focus { color: #CC5200; }

 .about-wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
   position: absolute;
   overflow: hidden;
 }

.skill-img-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* width: 250px;
   height: 250px; */
   align-self: center;
}

.skill-img {
   padding: 30px;
   object-fit: contain;
}

.header-link-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.link-button {
   font-size: 2em;
   margin: 0 5px 0 5px;
   background: none;
}

.about-outer-skills {
   display:flex;
   flex-direction: row;
   justify-content: center;
}

.about-work {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: #f7e7ce;
   border-radius: 30px;
   border: black 5px solid;
   margin-right: 20px;
}

.skill-windows {
   display: flex;

   /* flex-direction:row; */
   justify-content: space-evenly;
   padding: 20px;
   align-self: center;
}

.can-work {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background:#2b2b2bb7;
}

.can-work-text {
   font-size: 50px;
   font-family: 'Roboto Mono', monospace;
   color: white;
   margin: 50px 0 50px 0;
}

.can-work-text span {
   color: salmon;
}

.about-work h1 {
   font-size: 50px;
   font-family: 'Roboto Mono', monospace;
   overflow-wrap: normal;
   line-height: normal;
}

.about-work h1 span {
   color: salmon;
}

.skills-text {
   display: flex;
   flex-direction: column;
}

.skills-text hr {
   width: 90%;
   border: darkgreen 3px solid;
   border-radius: 20px;
   box-shadow: -2px 2px rgba(0, 0, 0, 0.425);
}

.skills-text-bubble {
   border-radius: 0px;
   /* transition: 0.5s; */
   margin: 0px auto 0 auto;
   width: fit-content;
}


/* .skills-text-bubble-image {
   background-color: #f7e7ce;
   border-radius: 0px;
   transition: 0.5s;
   margin: 0px 0 0 0;
   border: 3px black solid;
   box-shadow: -8px 8px rgba(0, 0, 0, 0.425);
   text-align: center;
} */

.minimize-btn {
   background-color: red;
   border: 1px black solid;
   border-radius: 100%;
   width: 18px;
   height: 18px;
   margin: auto auto auto 5px;
}

.minimize-btn:hover {
   cursor: pointer;
}

.program-title {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
}

.program-line {
   align-self: center;
   border: 1px black solid;
   max-width: 10%;
   padding: 0 5px 0 5px;
}

.skills-text-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-left: 3px black solid;
   border-bottom: 3px black solid;
   border-right: 3px black solid;
   width: 100%;
   background-color: #f7e7ce;
}

.skills-text-bubble-text {
   font-size: 20px;
   font-family: 'Roboto Mono', monospace;
   color: black;
   margin: 5px 0 0px 0;
   padding: 0 20px 0 20px;
}

.skills-text-bubble p {
   font-style: italic;
   font-size: 16px;
   font-family: 'Roboto Mono', monospace;
   color: darkgreen;
   margin: 0 0 10px 0 ;
   padding: 0 20px 0 20px;
}

.skills-text-title {
   font-size: 12px;
   font-family: 'Roboto Mono', monospace;
   color: black;
   /* padding: 0 20px 0 20px; */
   text-align: center;
   line-height: normal;
}


.app_resume-skills_list {
   display: flex;
   text-align: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   flex-direction: row;
   overflow: scroll;
}

.handle {
   /* width: 185px; */
   width: 100%;
   display: flex;
   flex-direction: row;
   border: 3px black solid;
   background-color: #ffd89a;
}
 
.handle:hover {
   cursor: move;
}

.text-handle {
   width: 100%;
   display: flex;
   flex-direction: row;
   border: 3px black solid;
   background-color: #ffd89a;
}

.text-handle:hover {
   cursor: move;
}

.box-shadow {
   box-shadow: -7px 4px rgba(0, 0, 0, 0.425);
}


.skill-img-label {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* position: absolute; */
}

.skills-list-windows {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.skills-image-window {
   border-radius: 0px;
   /* transition: 0.5s; */
   height: fit-content;
   display: flex;
   flex-direction: column;
   width: 185px;
}

.image-skill-wrapper {
   width: 100%;
   text-align: center;
   /* padding: 10px 0 10px 0; */
   height: fit-content;
   background-color: #f7e7ce;
   border-left: 3px black solid;
   border-bottom: 3px black solid;
   border-right: 3px black solid;
   padding: 8px 0 8px 0;
}

.image-skill {
   width: 100%;
}

@media screen and (max-width: 800px) {
   .skill-windows {
      display: flex;

      flex-direction:column-reverse;
      justify-content: space-evenly;
      padding: 20px;
      align-self: center;
   }

   .about-wrapper {
      /* display: block; */
      overflow: hidden;
      overflow: auto;
   }
   
   .skills-image-window {
      border-radius: 0px;
      /* transition: 0.5s; */
      height: fit-content;
      display: flex;
      flex-direction: column;
      width: 100px;
   }

   .skills-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
}