@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

#portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: #386641;
    background: url("../../public/images/pixelrain.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    /* height: 100vh; */
    max-height: fit-content;
    position: relative;
}

.magnet-left {
    margin-right: auto;
}

.magnet-right {
    margin-left: auto;
}

.portfolio-block {
    margin: 70px auto 40px auto;
    height: 100%;
    max-height: fit-content;
    width: 90%;
    /* background: linear-gradient(#556b2fc4, #502f6bc4); */
    text-align: center;
}

.port-header {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 3em;
    background-color: rgba(47, 79, 79, 0.701);
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 100%;
}

.header-spanelement {
    color: rgb(198, 198, 198)
}

.header-spancompo {
    color: rgb(135, 250, 166);
}

.header-spanslash {
    color:#ff6164;
}

.header-spanprops {
    color: lightblue;
}

.projects-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0 auto;

    /* list-style: none;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300, 1fr)); */

    width: 90%;
    height: auto;
    /* background: linear-gradient(#556b2fc4, #502f6bc4); */
    border-radius: 10px;
}


.project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
}

/* .projects-wrapper:nth-child(4n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
  .wrapper:nth-child(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }
  .wrapper:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  } */

.projects-wrapper::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    /* background-image: url("../../public/images/pixelspace.jpg"); */
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    opacity: 0.3;
    filter: invert(.75);
    border-radius: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    height: auto;
    justify-content: center;
    /* width: 90%; */
    /* background-color: black; */
    z-index: 1;
    /* margin: 10px auto 10px auto; */
    padding: 15px 20px 15px 20px;
    /* max-width: 600px; */
    width: fit-content;
    /* max-width: 600px; */
    /* background-color: rgba(0, 0, 0, 0.53); */
    --p: 50%;
    background: linear-gradient(135deg, #4b4b4bc4 var(--p), #888888c4 50%);
    /* border-radius: 20px; */
    /* box-shadow: -7px -4px rgba(255, 100, 100, 0.425); */
    /* border: 5px solid #F55536; */
    transition: 0.5s ease-in-out;
}

.project-card:hover {
    --p: 65%;
    background: linear-gradient(135deg, #7243bdcb var(--p), #888888c4 35%);
}

.border-aim {
    --g: 2px;     /* the gap */
    --b: 6px;    /* border thickness*/
    --c: #49f62600;; /* the color */
    /* --c: #4AF626;; the color */


    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    /* background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%); */
    background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
        
    background-size: 200% var(--b),var(--b) 200%;
    /* cursor: pointer; */
    filter: grayscale(60%);
    transition: .3s ease-in-out;

}

.border-aim:hover {
    --_p: 75%;
    --c: #4AF626;
    filter: grayscale(0%);
}

.border-aim-btn {
    --gg: 2px;     /* the gap */
    --bb: 4px;    /* border thickness*/
    --cc: rgba(0, 0, 0, 0); /* the color */


    padding: calc(var(--gg) + var(--bb));
    --_cc: #0000 0 25%, var(--cc) 0 50%;
    --_gg1: repeating-linear-gradient(90deg ,var(--_cc)) repeat-x;
    --_gg2: repeating-linear-gradient(180deg,var(--_cc)) repeat-y;
    /* background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%); */
    background:
        var(--_gg1) var(--_pp, 25%) 0   ,var(--_gg2) 0    var(--_pp,125%),
        var(--_gg1) var(--_pp,125%) 100%,var(--_gg2) 100% var(--_pp, 25%);
        
    background-size: 200% var(--bb),var(--bb) 200%;
    /* cursor: pointer; */
    transition: .3s ease-in-out;


    margin: 10px auto 10px auto;
}

.border-aim-btn:hover {
    --cc: #4AF626;; /* the color */
    --_pp: 75%;
    filter: grayscale(0%);
}

.gradient-border {
    --border-width: 3px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -4;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%, 0.247),
    hsla(269, 85%, 66%, 0.247),
    hsla(314, 85%, 66%, 0.76),
    hsl(359, 85%, 66%, 0.247),
    hsl(44, 85%, 66%, 0.247),
    hsla(89, 85%, 66%, 0.445),
    hsl(134, 85%, 66%, 0.247),
    hsla(179, 85%, 66%, 0.452)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  


  body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

.block {

	/* position: relative; */
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
    margin: 0 auto;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

/* .project-card::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    background-image: url("../../public/images/pixelspace.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    opacity: 0.3;
    filter: invert(.75);
    border-radius: 10px;
} */

.project-title {
    font-family: 'VT323', monospace;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #4AF626;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    /* margin-bottom: 10px; */
}

.project-info {
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.reverse-order {
    flex-direction: row-reverse;
}

.project-info img {
    max-width: 35%;
    /* max-height: 400px; */
    object-fit:cover;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    /* border: 3px solid #4AF626; */
    /* box-shadow: -7px -4px rgba(0, 0, 0, 0.425); */
}

.proj-desc-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 20px; */
    margin: 0px 10px 0 10px;
}

.proj-desc-links hr {
    border: 3px rgba(255, 213, 121, 0.726) solid;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
}

.proj-desc-links p {
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(255, 230, 86);
    letter-spacing: 1px;
    padding: 8px 10px 10px 10px;
    /* background: linear-gradient(to left, #7a14ffa6, black); */
    background: rgba(0, 0, 0, 0.897);
    border-radius: 10px;
    /* border: 4px solid black; */
    /* box-shadow: -7px -4px rgba(0, 0, 0, 0.425); */

    text-align: justify;
    
    margin: 0 auto 10px auto;
}

.tech-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 0;
}

.tech-stack {
    width:200px
}

.stack-title {
    background-color: grey;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20px;
    padding: 10px 0 10px 0;


}

.stack-info {
    background-color: white;
    height: fit-content;
    margin: 0;
}

.stack-info p {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px;
    color: rgb(32, 32, 32);
    padding: 1px 0 4px 0;
    text-align: center;
    font-weight: 600;
    margin: 0 auto 0 auto;
}

.proj-links {
    margin: auto 0 auto 0;
    padding: 0 5px 0 5px;
}

.proj-button {
    font-size: 2rem;
    color: white;
    padding: 5px;
    margin: 5px;
    transition: 0.5s;
}

.proj-button:hover {
    color: #77c9ff;
    background-color: rgba(0, 0, 0, 0.479);
}

.main-card {
    background-color: black;
    width: 250px;
    height: 175px;
}

.stack-card-overlay {
    width: 130px;
    height: 85px;
    margin-left: 200px;
    margin-top: -30px;
    background-color: bisque;
}


.programming-art {
    
}




































.front-end-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F2E8CF;
    border: 8px solid #BC4749;
    width: 90%;
    height: fit-content;
    border-left: none;
    border-radius: 0 30px 30px 0;
    position: relative;
    transition: 0.5s;
    /* transform-origin: top left; */
    transform-origin: left;
}

.back-end-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F2E8CF;
    border: 8px solid #BC4749;
    border-right: none;
    width: 90%;
    height: fit-content;
    border-radius: 30px 0 0 30px;
    position: relative;
    transition: 0.5s;
    margin-left: auto;
    transform-origin: right;
}

.project-section-label-fe {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.75rem;
    font-weight: 400;
    color: #BC4749;
}

.project-section-label-be {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.75rem;
    font-weight: 400;
    color: #BC4749;
    text-align: right;
}

.label-container {
    width: 100%;
    height: fit-content;
    position: relative;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label-bar-fe {
    width: 100%;
    border: 3px solid #BC4749;
    height: 0;
    margin: auto 0 auto 0;
    border-radius: 10px 0 0 10px;
}

.label-bar-be {
    width: 100%;
    border: 3px solid #BC4749;
    height: 0;
    margin: auto 0 auto 0;
    border-radius: 0 10px 10px 0;
}

.front-end-projects:hover {
    scale: 1.01;
    background-color: white;
}

.back-end-projects:hover {
    scale: 1.01;
    background-color: white;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-card-img {
    max-width: 250px;
    max-height: 250px;
}

