@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

#portfolio {
    border-top: gold 4px solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #386641;
    background: url("../../public/images/pixelrain.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    /* height: 100vh; */
    min-height: 100vh;
    max-height: fit-content;
    position: relative;
}

.magnet-left {
    margin-right: auto;
}

.magnet-right {
    margin-left: auto;
}

.portfolio-block {

    margin: 70px auto 40px auto;
    height: 100%;
    max-height: fit-content;
    width: 97%;
    /* background: linear-gradient(#556b2fc4, #502f6bc4); */
    text-align: center;
}

.port-header {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 3em;
    background-color: rgba(47, 79, 79, 0.701);
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 500px;
    /* max-width: 100%; */
}

.header-spanelement {
    color: rgb(198, 198, 198)
}

.header-spancompo {
    color: rgb(135, 250, 166);
}

.header-spanslash {
    color:#ff6164;
}

.header-spanprops {
    color: lightblue;
}

.projects-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0 auto;
    width: 90%;
    height: auto;
    /* background: linear-gradient(#556b2fc4, #502f6bc4); */
    border-radius: 10px;
}


.project-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.projects-wrapper::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    /* background-image: url("../../public/images/pixelspace.jpg"); */
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    opacity: 0.3;
    filter: invert(.75);
    border-radius: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding: 15px 5px 15px 5px;
    width: fit-content;
    height: auto;
    background: linear-gradient(45deg, #888888c4 0%, #888888c4 50%, #7243bdcb 50%, #7243bdcb 100%);
    
    background: 
    linear-gradient(45deg, #888888c4 0%, #888888c4 50%, #7243bdcb 50%, #7243bdcb 100%),
    url(../../public/images/cementoverlay.png) center;    
    background-repeat: repeat-x;
    border-radius: 5px;

    transition: 0.5s ease-in-out;
    background-size: 150%;
    transition: background-position .2s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
    transition: 0.5s ease-in-out;

    /* background: linear-gradient(90deg,#88868b,#a7a2a6 10%,#a09b9f 50%,#8f8d93 75%,#625f60 90%,#4a4645); */
    border-radius: 4px;
    border: 3px outset hsla(300,5%,79%,.75);
    outline: 2px solid rgba(0,0,0,.5);
    box-shadow: -2px 2px 1px rgba(0,0,0,.75), inset 0 0 4px #cbc6cb, 4px 4px 0 rgba(0,0,0,.75);
    filter: drop-shadow(-2px 4px 0 rgba(0,0,0,.5));
}

.inner-card-wrapper-bolts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* .project-card::before { */
.metal-foreground {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    border-radius: 5px;
    
    /* background-image: url(../../public/images/light-aluminum-comp.webp); */
    /* background: linear-gradient(90deg,#88868b,#a7a2a6 10%,#a09b9f 50%,#8f8d93 75%,#625f60 90%,#4a4645); */
    background-image: url(../../public/images/metal-small-comp.webp),
    url(../../public/images/light-aluminum-comp.webp),
    linear-gradient(90deg,#88868b,#a7a2a6 10%,#a09b9f 50%,#8f8d93 75%,#625f60 90%,#4a4645);
}


/* .project-card::after { */
.gradient-metal-bg {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    /* background-image: url(../../public/images/metal-small-comp.webp); */
    background: linear-gradient(90deg,#88868b,#a7a2a6 10%,#a09b9f 50%,#8f8d93 75%,#625f60 90%,#4a4645);
    border-radius: 5px;
    z-index: -1;
}

.project-card:hover {
    background-position: 75%;
}

.border-aim {
    --g: 2px;     /* the gap */
    --b: 6px;    /* border thickness*/
    --c: #49f62600;; /* the color */
    /* --c: #4AF626;; the color */


    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    /* background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%); */
    background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
        
    background-size: 200% var(--b),var(--b) 200%;
    border-radius: 5px;
    /* cursor: pointer; */
    filter: grayscale(60%);
    transition: .3s ease-in-out;
}

.border-aim:hover {
    --_p: 75%;
    --c: #4AF626;
    filter: grayscale(0%);
}

.border-aim-btn {
    --gg: 2px;     /* the gap */
    --bb: 4px;    /* border thickness*/
    --cc: rgba(0, 0, 0, 0); /* the color */


    padding: calc(var(--gg) + var(--bb));
    --_cc: #0000 0 25%, var(--cc) 0 50%;
    --_gg1: repeating-linear-gradient(90deg ,var(--_cc)) repeat-x;
    --_gg2: repeating-linear-gradient(180deg,var(--_cc)) repeat-y;
    /* background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%); */
    background:
        var(--_gg1) var(--_pp, 25%) 0   ,var(--_gg2) 0    var(--_pp,125%),
        var(--_gg1) var(--_pp,125%) 100%,var(--_gg2) 100% var(--_pp, 25%);
        
    background-size: 200% var(--bb),var(--bb) 200%;
    /* cursor: pointer; */
    transition: .3s ease-in-out;
    border-radius: 5px;

    margin: 10px auto 10px auto;
}

.border-aim-btn:hover {
    --cc: #4AF626;; /* the color */
    --_pp: 75%;
    filter: grayscale(0%);
}


.project-title {
    font-family: 'VT323', monospace;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #4AF626;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    /* margin-bottom: 10px; */
}

.project-info {
    margin: 0 auto 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
}

.reverse-order {
    flex-direction: row-reverse;
}

.project-info img {
    max-width: 35%;
    margin: auto 0 auto 0;
    max-height: 400px;
    height: 100%;
    object-fit:cover;
    border: 2px solid gold;
}

.proj-desc-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: auto 0;
    /* padding: 20px; */
    /* margin: 0px 10px 0 10px; */
}

.proj-desc-links hr {
    border: 3px rgba(255, 213, 121, 0.726) solid;
    /* border-radius: 10px; */
    /* margin: 0 auto; */
}

.proj-desc-links p {
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(255, 230, 86);
    letter-spacing: 1px;
    padding: 8px 10px 10px 10px;
    /* background: linear-gradient(to left, #7a14ffa6, black); */
    background: rgba(0, 0, 0, 0.897);
    /* border-radius: 10px; */
    /* border: 4px solid black; */
    /* box-shadow: -7px -4px rgba(0, 0, 0, 0.425); */

    
    /* margin: 0 auto 10px auto; */
}

.card-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.tech-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;    /* margin: 10px 0 0 0; */
    background: #fff;
}

.tech-stack {
    /* width:200px; */
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.stack-title {
    background-color: rgb(0, 155, 52);
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.stack-info {
    background-color: white;
    height: 100%;
    margin: 0;
}

.stack-info p {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px;
    color: rgb(32, 32, 32);
    padding: 1px 0 4px 0;
    text-align: center;
    font-weight: 600;
    margin: 0 auto 0 auto;
}

.proj-links {
    /* margin: auto; */
    padding: 10px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #700016;
    background-image: url(../../public/images/light-aluminum-comp.webp);
}

.proj-button {
    font-size: 2rem;
    color: white;
    padding: 5px;
    transition: 0.5s;
    margin: auto;
}

.proj-button:hover {
    color: #ff9e77;
    background-color: rgba(0, 0, 0, 0.479);
}

.main-card {
    background-color: black;
    width: 250px;
    height: 175px;
}

.stack-card-overlay {
    width: 130px;
    height: 85px;
    margin-left: 200px;
    margin-top: -30px;
    background-color: bisque;
}


.programming-art {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proj-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: auto; */
    width: 50px;
    height: 50px;
    /* background-color: #000000ad; */


    background: linear-gradient(90deg,#88868b,#a7a2a6 10%,#a09b9f 50%,#8f8d93 75%,#625f60 90%,#4a4645);
    border-radius: 4px;
    border: 3px outset hsla(300,5%,79%,.75);
    outline: 2px solid rgba(0,0,0,.5);
    box-shadow: -2px 2px 1px rgba(0,0,0,.75), inset 0 0 4px #cbc6cb, 4px 4px 0 rgba(0,0,0,.75);
    filter: drop-shadow(-2px 4px 0 rgba(0,0,0,.5));

    /* width: 40%; */
    margin: 0 auto;
    z-index: 2;
}

.proj-btn:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    
    background-image: url(../../public/images/light-aluminum-comp.webp);
}

.proj-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
    background-image: url(../../public/images/metal-small-comp.webp);
}


@media screen and (max-width: 1250px) {
    .proj-desc-links p {
        font-size: 1rem;
        /* font-size: 10px; */
        width: auto;
    }

    .tech-stack {
        /* width:150px; */
    }

    .proj-links {
    }

    .projects-wrapper {
        flex-direction: column;
    }

    .project-list {
        margin: 0 auto;
        width: auto;
    }

    .tech-wrapper {
    }

    .tech-stack {
        /* padding: 0 0 10px 0; */
    }
}

@media screen and (max-width: 700px) {
    .border-aim {
        filter: none;
    }
}

@media screen and (max-width: 580px) {
    .portfolio-block {
        margin-left: 0;
        margin-right: 0;
    }

    .border-aim {
        margin: 10px 5px;
        /* pointer-events: none; */
        background: none;
        transition: none;
        padding: 0;
    }

    .project-card {
        border-radius: 20px;
    }

    .project-card::before {
        border-radius: 20px;
    }

    .projects-wrapper {
        width: 100%;
    }

    .proj-desc-links p {
        font-weight: 400;
        /* font-size: 10px; */
        width: auto;
    }

    .proj-links {
        flex-direction: row;
        justify-content: center;
    }
    .proj-btn {
        margin: auto 5px;
    }

    .project-info img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 35%;
    }

    .tech-wrapper {
        flex-direction: column;
    }

    .tech-stack {
        margin: 0 auto;
        padding: 0 0 10px 0;
    }

    .project-title {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 580px) {
    .project-info {
        flex-direction: column-reverse;
    }

    .project-info img {
        margin: auto;
        max-width: none;
        width: 100%;
    }

}





































.front-end-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F2E8CF;
    border: 8px solid #BC4749;
    width: 90%;
    height: fit-content;
    border-left: none;
    border-radius: 0 30px 30px 0;
    position: relative;
    transition: 0.5s;
    /* transform-origin: top left; */
    transform-origin: left;
}

.back-end-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F2E8CF;
    border: 8px solid #BC4749;
    border-right: none;
    width: 90%;
    height: fit-content;
    border-radius: 30px 0 0 30px;
    position: relative;
    transition: 0.5s;
    margin-left: auto;
    transform-origin: right;
}

.project-section-label-fe {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.75rem;
    font-weight: 400;
    color: #BC4749;
}

.project-section-label-be {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.75rem;
    font-weight: 400;
    color: #BC4749;
    text-align: right;
}

.label-container {
    width: 100%;
    height: fit-content;
    position: relative;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label-bar-fe {
    width: 100%;
    border: 3px solid #BC4749;
    height: 0;
    margin: auto 0 auto 0;
    border-radius: 10px 0 0 10px;
}

.label-bar-be {
    width: 100%;
    border: 3px solid #BC4749;
    height: 0;
    margin: auto 0 auto 0;
    border-radius: 0 10px 10px 0;
}

.front-end-projects:hover {
    scale: 1.01;
    background-color: white;
}

.back-end-projects:hover {
    scale: 1.01;
    background-color: white;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-card-img {
    max-width: 250px;
    max-height: 250px;
}

